
<div class="d-flex justify-content-around pb-4 mb-0">
    <div class="p-2">
        <h1 class="d-inline-block"><span class=@BadgeClass1>1</span></h1>
        <h5 class="d-inline-block"><span>Select Poses</span></h5>
    </div>
    <div class="p-2">
        <h1 class="d-inline-block"><span class=@BadgeClass2>2</span></h1>
        <h5 class="d-inline-block"><span>Class Settings</span></h5>
    </div>
    <div class="p-2">
        <h1 class="d-inline-block"><span class=@BadgeClass3>3</span></h1>
        <h5 class="d-inline-block"><span>Confirm Class</span></h5>
    </div>
</div>

@code {
    [Parameter] public String Stage { get; set; }

    String BadgeClass1 = "badge badge-light";
    String BadgeClass2 = "badge badge-light";
    String BadgeClass3 = "badge badge-light";

    const String CurrentStage = "badge badge-secondary";

    protected override void OnInitialized()
    {

        switch (Stage)
        {
            case "1":
                BadgeClass1 = CurrentStage;
                break;
            case "2":
                BadgeClass2 = CurrentStage;
                break;
            case "3":
                BadgeClass3 = CurrentStage;
                break;
            default:
                break;
        }

    }
}
