@page "/MyTimer"
<h3>MyTimer</h3>

<p>@TimeLeft</p>
<p>@DisplayText</p>

@code {

    TimeSpan TimeLeft = new TimeSpan(0, 0, 15);
    string DisplayText = "";

    protected override Task OnInitializedAsync()
    {
        Timer();
        return base.OnInitializedAsync();
    }

    async Task Timer()
    {
        while (TimeLeft > new TimeSpan())
        {
            await Task.Delay(1000);
            TimeLeft = TimeLeft.Subtract(new TimeSpan(0, 0, 1));
            StateHasChanged();
        }
        await AfterTime();
        StateHasChanged();
    }

    Task AfterTime()
    {
        DisplayText = "Time expired";
        return Task.CompletedTask;
    }
}
